/kriostat.pl/.vs
/kriostat.pl/kriostat.pl/bin
/kriostat.pl/kriostat.pl/obj
/.vs/kriostat2/v17/.suo
/kriostat.pl/Lib/BooksRepository/Kriostat.Lib.BooksRepository.FS/bin
/kriostat.pl/Lib/BooksRepository/Kriostat.Lib.BooksRepository.FS/obj
/kriostat.pl/Lib/Kriostat.Lib.Common/bin
/kriostat.pl/Lib/Kriostat.Lib.Common/obj
/WSL_WebApplication/WSL.DataBase/bin
/WSL_WebApplication/WSL.DataBase/obj
/WSL_WebApplication/Wsl.Common/bin
/WSL_WebApplication/Wsl.Common/obj
/WSL_WebApplication/Wsl.Services/bin
/WSL_WebApplication/Wsl.Services/obj
/WSL_WebApplication/Wsl.WebService/bin
/WSL_WebApplication/Wsl.WebService/obj
/WebPage/Kriostat.WebPage/Kriostat.WebPage/bin
/WebPage/Kriostat.WebPage/Kriostat.WebPage/obj
/WebPage/Kriostat.WebPage/Lib/Kriostat.Lib.WebServiceClient/bin
/WebPage/Kriostat.WebPage/Lib/Kriostat.Lib.WebServiceClient/obj
/WSL_WebApplication/WSL_WebApplication/obj
/WSL_WebApplication/WSL_WebApplication/bin
/WSL_WebApplication/.vs
/WebPage/Kriostat.WebPage/.vs
