/kriostat.pl/.vs
/kriostat.pl/kriostat.pl/bin
/kriostat.pl/kriostat.pl/obj
/.vs/kriostat2/v17/.suo
/kriostat.pl/Lib/BooksRepository/Kriostat.Lib.BooksRepository.FS/bin
/kriostat.pl/Lib/BooksRepository/Kriostat.Lib.BooksRepository.FS/obj
/kriostat.pl/Lib/Kriostat.Lib.Common/bin
/kriostat.pl/Lib/Kriostat.Lib.Common/obj
