@page
@model WSL_site.Pages.researchModel
@{
}

<!-- Posts -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="images/icon1.jpg" alt="" /></a>
									<div class="inner">
										<h3>Impedance spectroscopy - a brief description</h3>
										<p></p>
									</div>
								</div>
							</section>
							
						</div>		
						
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="images/icon1.jpg" alt="" /></a>
									<div class="inner">
										<h3>Impedance spectroscopy - a brief description</h3>
										<p></p>
									</div>
								</div>
							</section>
							
						</div>		

					</div>
				</section>
