#piesek {
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
    background-image: url("images/dog.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}