/* This is a single-line comment */

/* This is
a multi-line
comment */


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: aquamarine;
}

p {
    color: rebeccapurple;
    border-style: solid;
    border-color: green;
    border-width: thick;
    border-radius: 15px;
    /*margin: 50px 75px 50px 75px;*/
    margin: auto;
    padding: 8px;
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
}

    p.ex1 {
        color: darkblue;
        border-style: none;
        border-style: dotted;
        margin: 50px 75px 50px 75px;
        text-align: justify;
        outline-style: double;
        text-indent: 50px;
        letter-spacing: 3px;
        font-family: "Lucida Handwriting", "Brush Script MT", cursive;
        
    }

h1 {
    text-align: center;
    position: center;
    background-color: dodgerblue;
    color: yellowgreen;
    text-transform: uppercase;
    letter-spacing: 5px;
}

div {
    opacity: 0.99;
    background-color: blanchedalmond;
}

#piesek {
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
    background-image: url("images/dog.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}