@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>My kriostat</h2>
    <h1 class="display-4">Welcome</h1>
    <h5>Ala ma kota</h5>
    <h1>Bye bye!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div style="width: 50px; height:100px; background-color:red"></div>
</div>
