@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div id="piesek"> </div>

<h1>Lorem Ipsum</h1>
<h3>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
</h3>
<h5>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
</h5>

<p p class="ex1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Mauris dictum a sem ut viverra. Duis ut metus at metus pretium vulputate. 
    Cras condimentum congue ligula. 
    Proin urna quam, elementum et orci sit amet, porta varius diam. 
    Aliquam sed fringilla leo, et condimentum ligula. 
    Curabitur vestibulum nunc sapien, nec sagittis metus elementum eget. 
    Maecenas vel massa risus. Ut fermentum leo nec facilisis aliquam. 
</p>

<p p class="ex1">
   Fusce tempus id quam consectetur facilisis. Quisque pharetra luctus justo at euismod. Cras tortor ante, efficitur aliquet semper in, fermentum nec lectus. Proin ac sapien sit amet diam dignissim mollis. Donec eget bibendum purus, nec ullamcorper neque. In non faucibus ex. Nulla consequat risus in dui interdum, vitae auctor eros bibendum. Integer at vestibulum augue, quis mattis lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
</p>

<p p class="ex1">
    Nulla facilisi. Integer volutpat lectus vitae nisi mattis, vitae facilisis dui tempor. Suspendisse fringilla efficitur ex, vel fringilla mauris eleifend in. Integer mi mauris, faucibus a magna commodo, pretium pharetra urna. Sed accumsan egestas ligula id consectetur. Pellentesque orci lorem, vehicula vitae diam ac, gravida volutpat dolor. Etiam dictum massa sed tempus cursus. Morbi ante metus, dapibus vel purus a, congue finibus urna. Nulla non tristique tellus. Nam varius massa quam, in consectetur tortor mattis quis. Integer sed mauris at felis efficitur eleifend. Nam feugiat leo non tincidunt pulvinar. Aenean aliquet porta mi eu vehicula. Ut id nunc ligula. Morbi lobortis augue lorem, a venenatis sapien laoreet vel. Sed quis feugiat ex, gravida ornare mauris. 
</p>

<p p class="ex1">
    Etiam interdum eu mi eu molestie. Curabitur euismod dui enim, nec iaculis lacus blandit eget. Pellentesque congue, quam vitae ullamcorper tincidunt, eros leo ornare ligula, vel venenatis velit nunc nec nunc. Vivamus vestibulum tincidunt arcu. Mauris ac urna sit amet urna egestas dignissim. Nam mollis aliquam cursus. Etiam nec lorem non nisl tempus egestas. Vivamus posuere felis tincidunt, efficitur augue et, accumsan odio. In interdum suscipit bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc nec nisl urna. Nullam in mollis est. Nulla id fringilla justo. Nam eu porta leo. 
</p>

<p>
    Etiam pretium commodo dui, ut laoreet orci maximus ut. Morbi imperdiet laoreet urna. Ut sed vestibulum odio. Etiam nec faucibus massa, vel molestie orci. Maecenas sagittis libero ac ligula vestibulum maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin posuere massa nibh, in interdum sem dapibus quis. Vivamus consequat odio sed turpis facilisis, sed pharetra ex lacinia. Integer leo purus, blandit non fermentum ac, gravida eget augue. Nullam tincidunt, nulla non posuere tincidunt, sapien nisi tempor neque, id pellentesque ligula sapien in mauris. Curabitur viverra nibh at gravida viverra. 
</p>

<p>Use this page to detail your site's privacy policy 22222222.</p>
